input{
max-width:100%;
}
label{margin-bottom:0px;}

.blink_me {
  animation: blinker 1s linear infinite;
}


.yellow{
color:yellow;
}
.red{
color:red;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.sensor_value_label{
	font-size:.8em;
}

.daylight .sensor_value_label{
	color:#888888;
}
.nighttime .sensor_value_label{
	color:#888888;
}

.align_right{
	text-align:right;
}	
.align_left{
	text-align:left;
}	
