<script src="static/js/jquery-1.9.0.js"></script>
<script>
$(function ReadTemperature(){

	$.ajax({
		url: '/UpdateGauges',
		dataType: 'json',
		type: 'POST',
		success: function(response){
		
    		    retval = response.GaugeValues;
		// would like to then find a way to look at the retval response assign them to the the different spans that are auto created
		// then replace retval below with the appropriate item in retval response

	     {% for x in range(0,ScreenText.__len__()): %}

		   $("#Sensor{{x}}").html(retval[{{x}}]);
	     {% endfor %}	   
		
	            },
		complete: function() {
	                setTimeout(ReadTemperature, 1500);   //Refresh value every 3 seconds
		    }
	
	});

});

</script>

{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>


{% endblock %}
{% block content %}
    <h1>Sensor Data</h1>
    <p class="important">
        Live Data from Sensors
    </p>

      <!-- build out a dynamic list of sensors that can then be populated by the ajax function -->
        {% for y in range(0,ScreenText.__len__()):  %}
		
	<div>
		{{ ScreenText[y] }} : <span id="Sensor{{y}}"> </span>
        </div>  	
        {% endfor %}

<!-- line.replace(" ", "") -- inside the curly brackets of span-->

	<p>
        
    </p>    

{% endblock %}
