
		<span sensor_id="{{ sensor.sensor_id }}" id="sensor_value_{{ sensor.sensor_id }}_imperial_value" 
			class="sensor_value" 
			alarm_low={{ sensor.alarm_low }}
			warning_low={{ sensor.warning_low }}
			warning_hi={{ sensor.warning_hi }}
			alarm_hi={{ sensor.alarm_hi }}
			></span> 
		<br/>
		<span class="sensor_value_label">
			{% for sensor_type in sensor_types %}
				{% if sensor.sensor_type == sensor_type.sensor_type_value %}{{ sensor_type.sensor_type_title }}{% endif %}
			{% endfor %}
			
			</span>
	
