
{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}

{% endblock %}
{% block content %}
    <h1>Sensors {{ testy }}</h1>
    <p class="important">
        Here we assign sensors to the proper locations and set alarm or alert ranges.  
    </p>

	
        {% for sensor in sensors %}

            <form method="POST" action="">
                <div class="form-group row">
                    
                    
                    <div class="col-sm-1">
						<span sensor_id="{{ sensor.sensor_id }}" id="sensor_value_{{ sensor.sensor_id }}_imperial_value" 
						class="sensor_value" 
						alarm_low={{ sensor.alarm_low }}
						warning_low={{ sensor.warning_low }}
						warning_hi={{ sensor.warning_hi }}
						alarm_hi={{ sensor.alarm_hi }}
						></span>                   

						<span sensor_id="{{ sensor.sensor_id }}" id="sensor_value_{{ sensor.sensor_id }}_metric_value" 
						class="sensor_value_c" 
						alarm_low={{ sensor.alarm_low }}
						warning_low={{ sensor.warning_low }}
						warning_hi={{ sensor.warning_hi }}
						alarm_hi={{ sensor.alarm_hi }}
						></span>                   


                    </div>
                     
                    
                    <div class="col-sm-4">
                        <select name="sensor_location">
                            {% for sensor_location in sensor_locations %}
                                <option value="{{ sensor_location.sensor_location_value }}" {% if sensor.sensor_location == sensor_location.sensor_location_value %}selected{% endif %}>{{ sensor_location.sensor_location_title }}</option>
                            {% endfor %}
                            
                        </select>
                        <!--<label for="sensor_location">Location</label>-->

                    </div>
                    <div class="col-sm-4">
                        <select name="sensor_type">
                            {% for sensor_type in sensor_types %}
                                <option value="{{ sensor_type.sensor_type_value }}" {% if sensor.sensor_type == sensor_type.sensor_type_value %}selected{% endif %}>{{ sensor_type.sensor_type_title }}</option>
                            {% endfor %}
                                           
                        </select>
                        <!--<label for="sensor_type">Type</label>-->

                        
                    </div>
				</div><!-- end row -->

				<a class="toggle_next" href="#">Sensor Alarms</a>&nbsp;&nbsp;|&nbsp;&nbsp;
				<div  class="form-group" style="display:none;">
	
					<div class="row">
						<div class="col-sm-2">
							<label for="alarm_low">Alarm Lo</label>
							<input type="text" name="alarm_low" value="{{ sensor.alarm_low }}">
						</div>
						<div class="col-sm-2">
							<label for="warning_low">Warn Lo</label>
							<input type="text" name="warning_low" value="{{ sensor.warning_low }}">
						</div>
              
						<div class="col-sm-2">
							<label for="warning_hi">Warn Hi</label>
							<input type="text" name="warning_hi" value="{{ sensor.warning_hi }}">
						</div>
						<div class="col-sm-2">
							<label for="alarm_hi">Alarm Hi</label>
							<input type="text" name="alarm_hi" value="{{ sensor.alarm_hi }}">
						</div>
                    </div>
                 </div>
                 
                 
                 <a class="toggle_next" href="#">Sensor Mapping</a>
                 <div style="display:none;">
					 <div class="row">
						<div class="col-sm-4">
							<label for="mapping_a_reading">Mapping a reading</label>
							<input type="text" name="mapping_a_reading" value="{{ sensor.mapping_a_reading }}">
						</div>
						<div class="col-sm-4">
							<label for="mapping_a_value">Mapping a value</label>
							<input type="text" name="mapping_a_value" value="{{ sensor.mapping_a_value }}">
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<label for="mapping_b_reading">Mapping b reading</label>
							<input type="text" name="mapping_b_reading" value="{{ sensor.mapping_b_reading }}">
						</div>
						<div class="col-sm-4">
							<label for="mapping_b_value">Mapping b value</label>
							<input type="text" name="mapping_b_value" value="{{ sensor.mapping_b_value }}">
						</div>
					</div>
                    <div class="col-sm-4">
                        <label for="is_one_wire"><input type="checkbox" name="is_one_wire" value="1" {% if sensor.is_one_wire == 1 %}checked="checked"{% endif %}> Is OneWire?</label>
                        <label for="is_analog_sensor"><input type="checkbox" name="is_analog_sensor" value="1" {% if sensor.is_analog_sensor == 1 %}checked="checked"{% endif %}> Is Analog</label>
                    </div>
                   <div class="col-sm-4">
                        <label for="Delete"><input type="checkbox" name="delete" value="1">Delete this Sensor?</label>
                    </div>
                   
                   <div style="display:block;">
					   <div class="col-sm-4">
							<label for="title">Sensor Name</label>
							<input type="text" name="title" value="{{sensor.title}}">
						</div>
						
						<div class="col-sm-4">
							<label for="sensor_id">Sensor Id</label>
							<input type="text" name="sensor_id" value="{{ sensor.sensor_id }}">

						</div>
						<div class="col-sm-4">
							<label for="sensor_db_id">Database Id</label>
							<input type="text" name="sensor_db_id" value="{{ sensor.sensor_db_id }}" size=5>
						</div>
						
                    </div>
                 </div>
                 <div class="row">
                    <div class="col-sm-4">
                        <input type="submit" value="Save">  
                    </div>
		    



                </div>
            </form>

            <hr />
          
        {% endfor %}
    

  


    <p>
        Don't see your sensors here?  It is likely your rpi is not receiving the sensors signal.

        <br><br>
        For Onewire sensors run this in your termnial to troubleshoot:  ls -l /sys/bus/w1/devices/
    </p>    

{% endblock %}
